# Filenames
.vscode/
/include/matplot/
/include/eigen3/
not_repo_token.txt
circlegen

# Images
*.svg
*.jpg

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dll

# Executables
*.exe
*.out
*.app
