# Filenames
.vscode/
/include/eigen3/
/include/cairo/
/include/librsvg/
/include/glib2/
/include/dummy/
/build/*
not_repo_token.txt
circlegen
output.png
.gitignore

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dll

# Executables
*.exe
*.out
*.app